.btn_post_from {
    height: 28px;
    width: 75px;
    padding-bottom: 4px;
    font-weight: bold;
}

.title_post_from {
    width: 100%;
    height: 32px;
    line-height: 30px;
    background-color: #dde8ec;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.input_post_from {
    width: 100%;
    height: 26px;
    line-height: 26px;
    margin-top: 3px;
}

.label_post_from {
    width: 15%;
    height: 30px;
    line-height: 30px;
    float: left;
    font-size: 13px;
    font-family: Arial;
}

.main_post_from {
    float: left;
    width: 85%;
}

.line_post_from {
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.head_table_item {
    text-align: center;
    vertical-align: middle;
    font-family: Arial;
    font-size: 15px;
    color: #262626;
    background-color: #FFF;
}

.head_table_item_mg {
    float: left;
    font-weight: bold;
    display: table-cell;
    line-height: 30px;
    width: 100%;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    border-bottom: solid 1px #808080;
    border-left: solid 1px #808080;
}

.footer_table {
    margin-top: 5px;
    background-color: #daf2a5;
    height: 26px;
}

.page_table_item {
    vertical-align: middle;
    font-family: Arial;
    font-size: 15px;
    color: #262626;
    background-color: #FFF;
}

.page_table_item_mg {
    float: left;
    display: table-cell;
    line-height: 30px;
    width: 100%;
    height: 30px;
    vertical-align: middle;
    font-size: 14px;
    border-bottom: solid 1px #808080;
    border-left: solid 1px #808080;
}

.center {
    text-align: center;
}

body {
    font-family: Arial;
}

.warning-title {
}

.message {
}

.warning {
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin-top: 10px;
    text-align: center;
    color: red;
}

.row-warning {
    width: 100%;
    height: 32px;
    line-height: 30px;
    background-color: #dde8ec;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;


}
div.DialogueBackground
{
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: #696969;
background-color: rgba(0,0,0,0.6);
overflow: hidden;
text-align: center;
color: #000000;
overflow: hidden;
z-index: 35;
}
div.DialogueBackground div.Dialogue
{
position: fixed;
left: 50%;
top: 50%;
margin-left: -150px;
margin-top: -150px;
color: #000000;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-border-radius: 5px;
}
.popup
{
padding: 2px;
margin: 5px auto 0px auto;
border: 6px solid #333333;
-webkit-border-radius: 5px;
-moz-border-border-radius: 5px;*/
background: #000000;
font-family: 'Trebuchet MS'; /* center it ? */
z-index: 99999;
}
